<div class="row">
    <h2>{{{title}}}</h2>
    <h6 class="right-align" style="color: gray;">Owner: @{{{owner.username}}}</h6>
    <p class="right-align" style="color: gray;">Posted: {{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}}</p>
</div>

<h3>{{{body}}}</h3>
<h6 class="right-align">{{{likes.length}}} likes</h6>
<form action="/post/{{_id}}/like" method="POST" class="right-align">
    <input type="submit" value="Like" class="btn black-text cyan lighten-4">
</form>

<div class="row">

    <form action="/post/{{_id}}/reply" method="POST" class="right-align">
        <div class="input-field">
            <label for="reply">Reply:</label>
            <input type="text" name="reply" autocomplete="off">
            <input type="submit" value="Reply" class="btn cyan lighten-2">
        </div>
    </form>
    <h5>Replies</h5>

    <ul class="collection">
        {{#each replies}}
        <li class="collection-item">
            <h5>{{body}}</h5>
            <p class="right-align" style="color: gray;">{{{owner.username}}}</p>
            <p class="right-align" style="color: gray;">Posted: {{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}}</p>
        </li>
        {{else}}
        <h4>This post has no replies</h4>
        {{/each}}
    </ul>
</div>