<div>
    <h1>My Communities</h1>
    <ul class="collection">
        {{#each communities}}
        <li class="collection-item avatar">
            <i class="fas fa-user-friends circle"></i>
            <span class="title community-title">{{{name}}} ({{{status}}})</span>
            <span>{{{members.length}}} members {{{posts.length}}} posts</span>
            <p class="truncate">{{{description}}}</p>
            <a href="/community/{{_id}}" class="secondary-content"><i class="fas fa-chevron-right chevron"></i></a>
        </li>
        {{else}}
        <h2 class="center-align">You are not subscribed to any communities</h2>
        {{/each}}
    </ul>
</div>